.c-about {
   font-family: 'Sansation Regular';
}

.c-about__image {
	width: 100%;
    margin: auto;
}

.c-about__title {
    font-size: 22px;
    font-weight: 600;
    text-align: left;
}

.c-about__subtitle {
    font-size: 14px;
    font-weight: 100;
    text-align: left;
}

