.c-competition {
    font-family: 'Sansation Regular';
    position: relative;
    width: 100%;
    height: 785px;
    box-shadow: rgba(6, 74, 208, 0.1) 0 40px 40px 0;
}

.c-competition__scroll-area {
    overflow: hidden;
    height: 638px;
}

.c-competition__button {
    position: absolute;
    top: 45%;
    right: 45px;
    width: 22px;
    height: 42px;
    transform: rotate(270deg);
    border: none;
    background-color: transparent;
    background-image: url(../img/arrow_2.png);
    background-size: cover;
}

.c-competition__button--down { 
    top: 55%; 
    transform: rotate(90deg); 
}
  
.c-competition__cell {
    display: flex;
    padding: 30px 0;
    align-items: center;
}

.c-competition__image {
    width: 130px;
}

.c-competition__text {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin: 0 20px;
    text-align: left;
}

.c-competition__date {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
    color: #848484;
}

.c-competition__icon {
    z-index: 9999;
    width: 45px;
    height: 45px;
    margin-top: -80px;
    margin-left: -50px;
    border: solid 3px #fff;
    border-radius: 50%;
    background-color: #f47920;
}

.c-competition__text-icon {
    font-size: 10px;
    margin-top: 5px;
    text-align: center;
    color: white;
}

@media screen and (min-width: 1024px) {
    .c-competition__text {
        font-size: 30px;
    }
}
