.c-page-footer{
}

.c-page-footer__container{
    padding: 30px 0;  
}

.c-page-footer__row{ 
  display: flex;  
}


.c-page-footer__meniu{  
}

.c-page-footer__meniu-list{
}

.c-page-footer__meniu-link{ 
    opacity: 0.8;
    font-family: Sansation;
    font-size: 16px;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
}

.c-page-footer__meniu-link:hover{ 
    text-decoration:none;
    color: rgb(244, 121, 32);
}



.c-page-footer__social-media{ 
}

.c-page-footer__social-media-title{
    opacity: 0.8;
    font-family: Sansation;
    font-size: 30px; 
    color: rgba(255, 255, 255, 0.8);
}

.c-page-footer__social-media-container{ 
}

.c-page-footer__social-media-img{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.c-page-footer__button-join-us{ 
    border-radius: 3px;
    background-color: #f47920;
    font-family: Sansation;
    text-align: center;
    margin: 30px 0; 
    padding: 5px;
    width: fit-content;  
}

.c-page-footer__button-join-us-link{
    font-size: 25px;  
    color: #fffefe;  
    font-family: Sansation;
    font-size: 30px;
    color: #fffefe;
}

.c-page-footer__button-join-us-link:hover{
    text-decoration:none; 
    color: #050c26;
}

.c-page-footer__contact{ 
}

.c-page-footer__contact-title{
    opacity: 0.8;
    font-family: Sansation;
    font-size: 16px;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
}

.c-page-footer__contact-text{
    opacity: 0.6;
    font-family: Sansation;
    font-size: 14px;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}




