.c-page-footer{
    font-family: 'Sansation Regular';    
    padding: 30px;
}

.c-page-footer__container{
      
}

.c-page-footer__row{  
    display: flex;
}

.c-footer__container-row{  
    align-items: center;
}

.c-page-footer__meniu{   

}

.c-page-footer__meniu-list-item{
    margin-bottom: 5px;
}

.c-page-footer__meniu-link{ 
    opacity: 0.8;
    font-family: 'Sansation Regular';
    font-size: 16px;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
}

.c-page-footer__meniu-link:hover{ 
    text-decoration:none;
    color: rgb(244, 121, 32);
}



.c-page-footer__social-media{ 

}

.c-page-footer__social-media-title{
    opacity: 0.8;
    font-family: 'Sansation Regular';
    font-size: 30px;  
    color: rgba(255, 255, 255, 0.8);
}

.c-page-footer__social-media-container{ 

 }

.c-page-footer__social-media-img{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.c-page-footer__button-join-us{ 
    border-radius: 3px;
    background-color: #f47920;
    text-align: center;
    margin: 30px 0; 
    padding: 5px;
    width: fit-content;  
}

.c-page-footer__button-join-us-link{ 
    color: #fffefe;   
    font-size: 25px; 
}

.c-page-footer__button-join-us-link:hover{
    text-decoration:none; 
    color: #050c26;
}




.c-page-footer__contact{ 
    width: 300px;
    max-width: 100%;
}

.c-page-footer__contact-title{
    opacity: 0.8; 
    font-size: 16px;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
}

.c-page-footer__contact-text{
    opacity: 0.6; 
    font-size: 14px;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}




@media screen and (min-width: 1300px) {  

    .c-page-footer__row{ 
        display: inline-flex;  
    }

    .c-page-footer__social-media{
        width: 370px;
        margin: 0 100px;
    }

    .c-page-footer__social-media-title{ 
        text-align:center;     
        width: 370px;
    }
    .c-page-footer__button-join-us{ 
        width: 370px;
        margin-top: 40px;
    }
}   