.c-grid {
    &:before,
    &:after {
        display: table;
        content: '';
    }

    &:after {
        clear: both;
    }
}

@media screen and (min-width: 1024px) {
<<<<<<< HEAD

=======
>>>>>>> 274dad73890935cbc4c1f6b7e3a3c4ece07ad1d2
    .c-grid__column {
        float: left;
        width: 50%;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> 274dad73890935cbc4c1f6b7e3a3c4ece07ad1d2
