.c-section{
 	margin-top:40px; 
 }

.c-section--grey{
 	background-color: rgba(6, 50, 205, 0.07);
}

.c-section--dark{ 
	background-color: #050c26;
}
 
.c-section__container{
 	margin-left: 20%; 
 	margin-right: 20%; 
}