.c-statistics{ 
	font-family: 'Sansation Regular';
	line-height: 1; 
    white-space: nowrap; 
}

.c-statistics__container{ 
    text-align: center;
    display: block; 
}
 
.c-statistics__record{
	box-shadow: rgba(40, 85, 85, 0.1) 6px 4px 50px 10px;
	padding: 30px 44px; 
	margin: 25px;
    min-width: 200px;
}
 
.c-statistics__nr{
    color: #f47920;
    font-size: 40px;
    font-weight: 700; 
    margin: 0;
}

.c-statistics__nr--small{
    color: #f47920;
    font-size: 25px;
    font-weight: 700; 
}

.c-statistics__desc{
	text-transform: uppercase; 
    font-size: 15px;
    font-weight: 700; 
    margin: 0;
}
 


@media screen and (min-width:680px) {

	.c-statistics__container{  
	    display: flex;
	    justify-content: space-between; 
	} 
	.c-statistics__record{ 
		margin: 5px; 
	} 
	.c-statistics__nr{ 
    	font-size: 40px;  
	}
	.c-statistics__nr--small{ 
	    font-size: 12px; 
	}

	.c-statistics__desc{ 
	    font-size: 12px; 
	}
}

@media screen and (min-width:900px) { 
 
	.c-statistics__nr{ 
    	font-size: 60px;  
	}

	.c-statistics__nr--small{ 
	    font-size: 30px; 
	}

	.c-statistics__desc{ 
	    font-size: 30px; 
	}
}


@media screen and (min-width:1024px) { 

	.c-statistics__record{ 
		margin: 5px;
	    width: 540px;
	} 

	.c-statistics__nr{ 
    	font-size: 70px;  
	}

	.c-statistics__nr--small{ 
	    font-size: 30px; 
	}

	.c-statistics__desc{ 
	    font-size: 30px; 
	}
}