.c-section{
 	margin-top:40px;
 }

.c-section--grey{
 	background-color: rgba(6, 50, 205, 0.07);
}

.c-section--dark{
	background-color: #050c26;
}

.c-section__container{
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1110px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
