.c-section{
 	margin-top:40px;
 }

.c-section--grey{
 	background-color: rgba(6, 50, 205, 0.07);
}

.c-section--dark{
	background-color: #050c26;
}

.c-section__container{
<<<<<<< HEAD
	padding-left: 35px;
	padding-right: 35px;
	max-width: 1520px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
=======
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1110px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
>>>>>>> 274dad73890935cbc4c1f6b7e3a3c4ece07ad1d2
