.c-scroll-top {
<<<<<<< HEAD
	position: fixed;
	bottom: 25px;
	right: 40px; 
    height: 54px;
    opacity: 0.5;
}
 
=======
  background-color: orange;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
>>>>>>> 274dad73890935cbc4c1f6b7e3a3c4ece07ad1d2
