
 .c-team{
    overflow:hidden;
    white-space:nowrap;
    width:100%;
	
}

.c-team__container{
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; 
}

.c-team__slider{ 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.c-team__arrow{ 
    margin: 0 30px;
}
 
.c-team__arrow-img{
	 
}
 

 






 