
.c-team-popup { 
  display: none;
  z-index:999999; 
  font-family: 'Sansation Regular';
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top:55%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%) ;
  border-radius: 3px;
} 

.c-team-popup__row{ 
  padding: 20px;
} 

.c-team-popup__col{ 
  padding: 30px;
}

.c-team-popup__col-border--top{
  border-top: 1px solid #dae0e5; 
}

.c-team-popup__col-border--bottom{
  border-bottom: 1px solid #dae0e5; 
}

.c-team-popup__col-border--left{
  border-left: 1px solid #dae0e5; 
}

.c-team-popup__member-image{
  height:40px;
  border-radius:50%;
}

.c-team-popup__text{ 
  font-size: 30px;
}

.c-team-popup__text-small{
  text-transform: uppercase; 
  font-size: 14px;
  color: #b0b0b0;
}

.c-team-popup__footer{
  background-color: #f47a22;
  text-transform: uppercase;
  color: #ffffff;
  padding: 5px;    
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}


.c-team-popup__footer-row{
  padding:0;
}


@media screen and (min-width: 786px) {   

    .c-team-popup {  
      width: 600px; 
    } 

    .c-team-popup__row{ 
      padding: 50px;
    } 

    .c-team-popup__member-image{
      height:60px; 
    }

    .c-team-popup__text{ 
      font-size:45px;
    }

    .c-team-popup__text-small{ 
      font-size: 18px; 
    }

    .c-team-popup__footer{ 
      padding: 15px;     
    } 
    
}