.c-team{
	
}

.c-team__container{
    overflow:scroll;
}

.c-team__slider{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-team__arrow{
	margin-top: -60px;
}

.c-team__arrow-img{
	 
}
 
 
 
