.c-title-underline{
    padding: 30px 0; 
	font-family: 'Sansation Regular';
    font-size: 24px;  
    color: #1b1b1b;
}

.c-title-underline:after {
    content: "";
    display: block;
    margin-top: 5px;
    width: 70px;
    height: 3px;
    background-color: #f47920;
} 

.c-title-underline--card{
    padding-left: 30px;
} 


 
@media screen and (min-width: 1024px) {  

    .c-title-underline{
        font-size: 30px;
    }
}