<div class="c-activity"> 	

    <h2 class="c-title-underline c-title-underline--card">Activity</h2>
    
	<div class="c-activity__cell">
		<div class="c-activity__cell-record">
			<img alt="Image of the person who posted" class="c-activity__image" src="../assets/img/90.png"/>  
			<div class="c-activity__message">
				<div class="c-activity__text">
					<span class="txt-italic-bold">Andrei Traciu</span> reached <span class="txt-bold">800 km </span>today 
				</div>
				<div class="c-activity__date">9/27/2017</div>
			</div>
		</div>
	</div>	 

	<div class="c-activity__cell">
		<div class="c-activity__cell-record">
			<img alt="Image of the person who posted" class="c-activity__image" src="../assets/img/93_2.png"/>  
			<div class="c-activity__message">
				<div class="c-activity__text">
					<span class="txt-italic-bold">Costi Placinta </span> entered a <span class="txt-bold">new personal record of 240km</span>
				</div>
				<div class="c-activity__date">9/27/2017</div> 
			</div>
		</div>
	</div>
	  
	<div class="c-activity__cell">
		<div class="c-activity__cell-record">
			<img alt="Image of the person who posted" class="c-activity__image" src="../assets/img/93_2.png"/>  
			<div class="c-activity__message">
				<div class="c-activity__text">
					<span class="txt-italic-bold">Costi Placinta</span> commented on  <span class="txt-bold"> Testing new equipment</span> 
				</div>
				<div class="c-activity__date">9/27/2017</div> 
			</div>
		</div>
	</div>	 
	
	<div class="c-activity__cell"> 
		<div class="c-activity__cell-record">
			<img alt="Image of the person who posted" class="c-activity__image" src="../assets/img/66.png"/>  
			<div class="c-activity__message">
				<div class="c-activity__text">
					<span class="txt-italic-bold">Mihai Tenciu</span> joined <span class="txt-bold">Assist Biking Club</span>
				</div>
				<div class="c-activity__date">9/27/2017</div>
			</div>
		</div>
	</div>

</div>
