<div class="c-blog">   

    <div class="c-blog__container">
        <div class="c-blog__banner"> 
            <img alt="Image of the Biking Club event in the Rarau mountains" class="c-blog__image" src="../assets/img/bike_1.jpg"/>  
            <footer class="c-blog__image-footer">
                <div class="c-blog__image-footer-name">by Adrian Galatanu</div>
                <div class="c-blog__image-footer-date">8/18/2016</div>
            </footer>
        </div> 
        <div class="c-blog__desc">ASSIST Biking Club event in the Rarau mountains</div>    
    </div>

    <div class="c-blog__container">
        <div class="c-blog__banner"> 
            <img alt="Image of the Biking Club event in the Rarau mountains" class="c-blog__image" src="../assets/img/bike_2.jpg"/>  
            <footer class="c-blog__image-footer">
                <div class="c-blog__image-footer-name">by Adrian Galatanu</div>
                <div class="c-blog__image-footer-date">8/18/2016</div>
            </footer>
        </div> 
        <div class="c-blog__desc">ASSIST Biking Club - Rarau Radical Races</div>  
    </div>     
       
    <div class="c-blog__container">
        <div class="c-blog__banner"> 
            <img alt="Image of the Biking Club event in the Rarau mountains" class="c-blog__image" src="../assets/img/bike_3.jpg"/>  
            <footer class="c-blog__image-footer">
                <div class="c-blog__image-footer-name">by Adrian Galatanu</div>
                <div class="c-blog__image-footer-date">8/18/2016</div>
            </footer>
        </div> 
        <div class="c-blog__desc">ASSIST Biking Club event in the Rarau mountains</div>  
    </div>  
</div>