<div class="c-competition">

	<button class="c-competition__button c-competition__button--up [ js-competition-up ]">
		up
	</button>

	<button class="c-competition__button c-competition__button--down [ js-competition-down ]">
		down
	</button>

  <h2 class="c-title-underline c-title-underline--card">Competition</h2>

	<div class="c-competition__scroll-area [ js-competition-scroll-area ]">
		<div class="c-competition__cell">
			<img alt="Contest poster" class="c-competition__image" src="../assets/img/event-logo_4.png"/>
			<div class="c-competition__icon">
				<p class="c-competition__text-icon">Been there!</p>
			</div>
			<div class="c-competition__text">
				<p>Bucovina MTB maraton </p>
				<div class="c-competition__date">3 iunie 2017</div>
			</div>
		</div>

		<div class="c-competition__cell">
			<img alt="Contest poster" class="c-competition__image" src="../assets/img/event-logo.png"/>
			<div class="c-competition__icon">
				<p class="c-competition__text-icon">Been there!</p>
			</div>
			<div class="c-competition__text">
				 Marathon MTB Bicaz
				<div class="c-competition__date">13 august 2017</div>
			</div>
		</div>

		<div class="c-competition__cell">
			<img alt="Contest poster" class="c-competition__image" src="../assets/img/event-logo_2.png"/>
			<div class="c-competition__text">
				<p>Maratonul Dunarii </p>
				<div class="c-competition__date">20 august 2017 </div>
			</div>
		</div>

		<div class="c-competition__cell">
			<img alt="Contest poster" class="c-competition__image" src="../assets/img/event-logo_3.png"/>
			<div class="c-competition__text">
				<p>Haiduci si Domnite </p>
				<div class="c-competition__date">20 septembrie 2017</div>
			</div>
		</div>

		<div class="c-competition__cell">
			<img alt="Contest poster" class="c-competition__image" src="../assets/img/event-logo_3.png"/>
			<div class="c-competition__text">
				<p>Haiduci si Domnite </p>
				<div class="c-competition__date">20 septembrie 2017</div>
			</div>
		</div>

		<div class="c-competition__cell">
			<img alt="Contest poster" class="c-competition__image" src="../assets/img/event-logo_3.png"/>
			<div class="c-competition__icon">
				<p class="c-competition__text-icon">Been there!</p>
			</div>
			<div class="c-competition__text">
				<p>Haiduci si Domnite </p>
				<div class="c-competition__date">20 septembrie 2017</div>
			</div>
		</div>
	</div>

</div>
