<footer class="c-page-footer container">
 
  <div class="row c-footer__container-row">
    <div class=" c-page-footer__container col">    
      <nav class="c-page-footer__meniu">
          <ul class="c-page-footer__meniu-list">
            <li class="c-page-footer__meniu-list-item">
              <a class="c-page-footer__meniu-link" href="#about">About us</a>
            </li>
            <li class="c-page-footer__meniu-list-item">
              <a class="c-page-footer__meniu-link" href="#team">Our team</a>
            </li>
            <li class="c-page-footer__meniu-list-item">
              <a class="c-page-footer__meniu-link" href="#gallery">Gallery</a>
            </li>
            <li class="c-page-footer__meniu-list-item">
              <a class="c-page-footer__meniu-link" href="#activity">Activity</a>
            </li>
            <li class="c-page-footer__meniu-list-item">
              <a class="c-page-footer__meniu-link" href="#competitions">Competitions</a>
            </li>
            <li class="c-page-footer__meniu-list-item">
              <a class="c-page-footer__meniu-link" href="#blog">Blog</a>
            </li>
            <li class="c-page-footer__meniu-list-item">
              <a class="c-page-footer__meniu-link" href="#statistics">Statistics</a>
            </li>
          </ul> 
      </nav>
    </div>

    <div class=" c-page-footer__container col"> 
      <div class="c-page-footer__social-media">
          <h3 class="c-page-footer__social-media-title">Social media</h3>

          <div class="c-page-footer__social-media-container"> 
            <div class="c-page-footer__row">
                <a class="c-page-footer__social-media-img" href="#">
                    <img alt="facebook icon" src="../assets/img/facebook.png"  
                     onmouseover="this.src='../assets/img/facebook-active.png'" 
                     onmouseout="this.src='../assets/img/facebook.png'">
                </a>
                <a class="c-page-footer__social-media-img" href="#">
                    <img alt="youtube icon" src="../assets/img/youtube.png"  
                     onmouseover="this.src='../assets/img/youtube-active.png'" 
                     onmouseout="this.src='../assets/img/youtube.png'">
                </a> 
            </div>
            <div class="c-page-footer__row">
                <a class="c-page-footer__social-media-img" href="#">
                    <img alt="twitter icon" src="../assets/img/twitter.png"  
                     onmouseover="this.src='../assets/img/twitter-active.png'" 
                     onmouseout="this.src='../assets/img/twitter.png'">
                </a>
                <a class="c-page-footer__social-media-img" href="#">
                    <img alt="instagram icon" src="../assets/img/instagram.png"  
                     onmouseover="this.src='../assets/img/instagram-active.png'" 
                     onmouseout="this.src='../assets/img/instagram.png'">
                </a>
            </div>
          </div>

          <div class="c-page-footer__button-join-us">
              <a class="c-page-footer__button-join-us-link [ js-c-page-footer__button-join-us-link ]" href="#">Join our team</a>
 
          </div>
      </div> 
    </div>
   
    <div class=" c-page-footer__container col">  
      <div class="c-page-footer__contact">
          <h3 class="c-page-footer__contact-title">Contact</h3> 
          <p class="c-page-footer__contact-text"> 
            Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
          </p> 
          <p class="c-page-footer__contact-text">
            Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
          </p> 
      </div>  
    </div> 
  </div> 
        {{> c-join-us }} 
</footer>