
<div class="c-gallery">
	<div class="c-gallery__see-more">
	  	<a class="c-gallery__see-more-text" href="#">
	  		See more 
	  		<img class="c-gallery__see-more-arrow" alt="See more arrow" src="../assets/img/arrows.png"/ >
	  	</a>
	</div> 

	<div class="c-gallery__container">
		<div class="c-gallery__column">
			<div class="c-gallery__row"> 
				<a href="../assets/img/gallery-img1.png" data-lightbox="gallery">
					<img alt="Image of the Biking Club event in the Rarau mountains" class="c-gallery__image" src="../assets/img/gallery-img1.png">
				</a>
			</div>
			<div class="c-gallery__row"> 
				<a href="../assets/img/gallery-img2.png" data-lightbox="gallery">
					<img alt="Image of the Biking Club event in the Rarau mountains" class="c-gallery__image" src="../assets/img/gallery-img2.png">
				</a>
			</div>
		</div>
		<div class="c-gallery__column">
			<div class="c-gallery__row"> 
				<a href="../assets/img/gallery-img3.png" data-lightbox="gallery">
					<img alt="Image of the Biking Club event in the Rarau mountains" class="c-gallery__image" src="../assets/img/gallery-img3.png">
				</a>
			</div>
			<div class="c-gallery__row"> 
				<a href="../assets/img/gallery-img4.png" data-lightbox="gallery">
					<img alt="Image of the Biking Club event in the Rarau mountains" class="c-gallery__image" src="../assets/img/gallery-img4.png">
				</a>
			</div>
		</div>
		<div class="c-gallery__column">
			<div class="c-gallery__row"> 
				<a href="../assets/img/gallery-img5.png" data-lightbox="gallery">
					<img alt="Image of the Biking Club event in the Rarau mountains" class="c-gallery__image" src="../assets/img/gallery-img5.png">
				</a>
			</div>
		</div>
		<div class="c-gallery__column">
			<div class="c-gallery__row"> 
				<a href="../assets/img/gallery-img6.png" data-lightbox="gallery">
					<img alt="Image of the Biking Club event in the Rarau mountains" class="c-gallery__image" src="../assets/img/gallery-img6.png">
				</a>
			</div>
			<div class="c-gallery__row"> 
				<a href="../assets/img/gallery-img7.png" data-lightbox="gallery">
					<img alt="Image of the Biking Club event in the Rarau mountains" class="c-gallery__image" src="../assets/img/gallery-img7.png">
				</a>
			</div>
		</div>
		<div class="c-gallery__column"> 
			<div class="c-gallery__row"> 
				<a href="../assets/img/gallery-img8.png" data-lightbox="gallery">
					<img alt="Image of the Biking Club event in the Rarau mountains" class="c-gallery__image" src="../assets/img/gallery-img8.png">
				</a>
			</div>
		</div>
	</div>
 
</div> 