
<div  class="c-page-nav__container [ js-c-page-nav__container ]">
  <a class="c-page-nav__logo" href="./index.html">
    <img class="c-page-nav__logo-img [ js-c-page-nav__logo-img ]" src="../assets/img/assist-biking-logo.png" alt="Innovative Minds | Biking Club">
  </a>

  <button class="c-page-nav__toggle [ js-c-page-nav__toggle ]" type="button">
    <img class="c-page-nav__toggle-img [ js-c-page-nav__toggle-img ]" src="../assets/img/menu-icon.png" alt="toggle menu image"/>
  </button> 


  <ul class="c-page-nav__menu [ js-c-page-nav__menu ]">

    <li class="c-page-nav__menu-item [ js-c-page-nav__menu-item ]">
      <a  class="c-page-nav__menu-link [ js-c-page-nav__menu-link ]" href="#about" >About us</a>
    </li>

    <li class="c-page-nav__menu-item [ js-c-page-nav__menu-item ]">
      <a class="c-page-nav__menu-link [ js-c-page-nav__menu-link ]" href="#team">Our team</a>
    </li>

    <li class="c-page-nav__menu-item [ js-c-page-nav__menu-item ]">
      <a class="c-page-nav__menu-link [ js-c-page-nav__menu-link ]" href="#gallery">Gallery</a>
    </li>

    <li class="c-page-nav__menu-item [ js-c-page-nav__menu-item ]">
      <a class="c-page-nav__menu-link [ js-c-page-nav__menu-link ]" href="#activity">Activity</a>
    </li>

    <li class="c-page-nav__menu-item [ js-c-page-nav__menu-item ]">
      <a class="c-page-nav__menu-link [ js-c-page-nav__menu-link ]" href="#competitions">Competitions</a>
    </li>

    <li class="c-page-nav__menu-item [ js-c-page-nav__menu-item ]">
      <a class="c-page-nav__menu-link [ js-c-page-nav__menu-link ]" href="#blog">Blog</a>
    </li>

    <li class="c-page-nav__menu-item [ js-c-page-nav__menu-item ]">
      <a class="c-page-nav__menu-link [ js-c-page-nav__menu-link ]" href="#statistics">Statistics</a>
    </li> 
    
  </ul>

</div>