<div class="c-statistics">   

    <div class="c-statistics__container">
        <div class="c-statistics__record">
            <p class="c-statistics__nr">34</p>
            <p class="c-statistics__desc">members</p>
        </div>
        <div class="c-statistics__record">
            <p class="c-statistics__nr">1100<span class="c-statistics__nr--small">km</span></p>
            <p class="c-statistics__desc">total distance</p>
        </div>
        <div class="c-statistics__record">
            <p class="c-statistics__nr">7</p>
            <p class="c-statistics__desc">medals won</p>
        </div>
    </div>

</div>



      