
<div class="c-team"> 
	<div class="c-team__container"> 
		<div class="c-team__arrow [ js-c-team__arrow--left arrow-left ]">
			<img class="c-team__arrow-img" src="../assets/img/arrow.png" alt="arrow left" >
		</div> 
		<ul class="c-team__slider [ js-c-team__slider ]"> 
			<li>
				<div class="c-team-member [ js-c-team-member ]"> 
					<img class="c-team-member__image" src="../assets/img/73.png" alt="the image of the team member" > 
					<p class="c-team-member__name">Andrei Barascu</p>
					<p class="c-team-member__distance">2,401km</p>
				</div>
			</li>
			<li>
				<div class="c-team-member [ js-c-team-member ]"> 
					<img class="c-team-member__image" src="../assets/img/66.png" alt="the image of the team member" >
					<p class="c-team-member__name">Mihai Tenciu</p>
					<p class="c-team-member__distance">902km</p>
				</div> 
			</li>
			<li>
				<div class="c-team-member [ js-c-team-member ]"> 
					<img class="c-team-member__image" src="../assets/img/66.png" alt="the image of the team member" >
					<p class="c-team-member__name">Mihai Tenciu</p>
					<p class="c-team-member__distance">902km</p>
				</div> 
			</li>
			<li> 
				<div class="c-team-member [ js-c-team-member__popup ]"> 
					<img class="c-team-member__image c-team-member__image active" src="../assets/img/93.png" alt="the image of the team member" >
					<p class="c-team-member__name">Gabriel Tironeac</p>
					<p class="c-team-member__distance">1,371 km</p>
				</div> 
				{{> c-team-popup }}	
			</li>
			<li>
				<div class="c-team-member [ js-c-team-member ]"> 
					<img class="c-team-member__image" src="../assets/img/93_2.png" alt="the image of the team member" >
					<p class="c-team-member__name">Alexandru Macarescu</p>
					<p class="c-team-member__distance">2,767 km</p>
				</div>
			</li>
			<li>
				<div class="c-team-member [ js-c-team-member ]"> 
					<img class="c-team-member__image" src="../assets/img/66.png" alt="the image of the team member" >
					<p class="c-team-member__name">Mihai Tenciu</p>
					<p class="c-team-member__distance">902km</p>
				</div> 
			</li>
			<li>
				<div class="c-team-member [ js-c-team-member ]">
					<img class="c-team-member__image" src="../assets/img/90.png" alt="the image of the team member" >
					<p class="c-team-member__name">Andrei Traciu</p>
					<p class="c-team-member__distance">1,347 km</p>
				</div>
			</li> 
		</ul>
		<div class="c-team__arrow [ js-c-team__arrow--right ]">
			<img class="c-team__arrow-img" src="../assets/img/arrow_2.png" alt="arrow right">
		</div>
	</div> 
</div>
 