<div class="c-team-popup [ js-c-team-popup ]"> 
	<div class="container">
		<div class="row c-team-popup__row">
			<div class="col c-team-popup__col c-team-popup__col-border--bottom">
				<img class="c-team__arrow-img" src="../assets/img/bike1.png" alt="orange bike"/>
				<div class="c-team-popup__text">14</div>
			</div>
			<div class="col  c-team-popup__col c-team-popup__col-border--left c-team-popup__col-border--bottom">
				<img class="c-team__arrow-img" src="../assets/img/bike2.png" alt="orange bike"/>
				<div class="c-team-popup__text">98:10:21</div>
			</div>
			<div class="w-100"></div> 


			<div class="col c-team-popup__col">
				<img class="c-team-popup__member-image" src="../assets/img/93.png" alt="the image of the team member"/ >
				<div>Gabriel Tironeac</div>
				<div class="c-team-popup__text-small">2017</div>
			</div> 

			<div class="w-100"></div>

			<div class="col c-team-popup__col">  
				<div class="c-team-popup__text">2.787</div>
				<span class="c-team-popup__text-small">elevation</span> 
			</div> 
			<div class="col c-team-popup__col">  
				<div class="c-team-popup__text">3.770</div>
				<span class="c-team-popup__text-small">km</span> 
			</div> 

			<div class="w-100"></div>

			<div class="col c-team-popup__col c-team-popup__col-border--top">
				<img class="c-team__arrow-img" src="../assets/img/medal1.png" alt="medal"> 
				<div class="c-team-popup__text">3</div>
			</div>
			<div class="col c-team-popup__col  c-team-popup__col-border--left c-team-popup__col-border--top">
				<img class="c-team__arrow-img" src="../assets/img/medal2.png" alt="medal" > 
				<div class="c-team-popup__text">2</div>
			</div>
			
			<div class="w-100"></div>  
		</div>
		<div class="row  c-team-popup__footer-row"> 
			<div class="col c-team-popup__footer">
				Check out Gabriel's profile on Strava
			</div>  
		</div>
	</div>
</div>      