* {
	box-sizing: border-box;
}


@font-face {
	font-family: 'Sansation Light';
	src: url(/assets/font/Sansation-Light.ttf);
}

@font-face {
	font-family: 'Sansation Regular';
	src: url(/assets/font/Sansation-Regular.ttf);
}

@font-face {
	font-family: 'Sansation Bold';
	src: url(/assets/font/Sansation-Bold.ttf);
}

body{
	font-family: 'Sansation Regular',  helvetica, sans-serif;
	font-size:100%;
}‌​

ul {
	list-style-type: none;
}

ul, menu, dir {
	display: block;
	list-style-type: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}

figure {
	margin: 0;
}

.txt-italic-bold{
	font-weight: bold;
	font-style: italic;
}

.txt-bold{
	font-weight: bold;
}